# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Streamlit
.streamlit/

# IDE / Editor files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Temporary resume test uploads (if saved)
*.pdf
*.docx
